services:
  api:
    build: ./app/api
    ports: ["3000:3000"]
    container_name: bootcamp-api
    environment:
      - NODE_ENV=production
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 10s
      timeout: 3s
      retries: 3

  web:
    build: ./app/web
    ports: ["8080:80"]
    container_name: bootcamp-web
    environment:
      - API_URL=http://api:3000  # URL interna do Docker
    depends_on:
      api:
        condition: service_healthy
