services:
  
  api:
    build: ./app/api
    container_name: bootcamp-api
    ports:
      - "3000:3000" # Expõe a API no localhost:3000
    networks:
      - app-network

  web:
    build: ./app/web
    container_name: bootcamp-web
    ports:
      - "8080:80" # Expõe o PWA no localhost:8080
    depends_on:
      - api
    networks:
      - app-network

  e2e:
    build:
      context: .
      dockerfile: Dockerfile.e2e
    container_name: bootcamp-e2e
    # Este serviço roda os testes e para
    command: >
      sh -c "npx playwright test && npx lhci autorun --config=./lighthouserc.js"
    depends_on:
      - web
      - api
    networks:
      - app-network

    volumes:
      - ./playwright-report:/app/playwright-report
      - ./.lighthouseci:/app/.lighthouseci